<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Код подтверждения</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            color: #333333;
        }
        p {
            color: #555555;
        }
        .code {
            font-size: 24px;
            font-weight: bold;
            color: #333333;
            background-color: #f7f7f7;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            letter-spacing: 5px;
            margin: 20px 0;
        }
        .footer {
            margin-top: 30px;
            font-size: 12px;
            color: #aaaaaa;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Ваш код подтверждения</h2>
        <p>Для завершения процесса регистрации или восстановления пароля, пожалуйста, используйте следующий код:</p>
        
        <div class="code">{{verificationCode}}</div>
        
        <p>Если вы не запрашивали этот код, просто проигнорируйте это сообщение.</p>

        <div class="footer">
            <p>С уважением,</p>
            <p>Команда Apple</p>
        </div>
    </div>
</body>
</html>
